<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/FlixSpot/styles/output.css" rel="stylesheet">
    <title class="text-red-700">TV Shows</title>
    <script src="https://unpkg.com/mustache@latest"></script>
    
</head>

<body class="bg-black">
   <header>
    <div hx-get="navbar/navbar.html" hx-trigger="load" hx-target="this"></div>
   </header>
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold text-red-700">TV Shows</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 text-red-700 " 
        id="tv-shows" 
        hx-get="https://vidsrc.xyz/tvshows/latest/page-1.json" 
        hx-trigger="load"
        hx-request='{"noHeaders": true}' 
        hx-swap="none">
        </div>
    </div>
    </div>



    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener('htmx:afterRequest', function (event) {
            if (event.detail.elt.id === 'tv-shows') {
                const response = event.detail.xhr.responseText;
                const data = JSON.parse(response).result;

                const tvShowsContainer = document.getElementById('tv-shows');
                tvShowsContainer.innerHTML = ''; // Clear the container

                data.forEach(show => {
                    const card = `
                                 <div class="bg-gray-900 rounded-lg shadow-md overflow-hidden">
                                    <img src="https://img.omdbapi.com/?apikey=8d5cb2e&i=${show.imdb_id}" alt="${show.title}" class="w-full h-48 object-cover object-center">
                                    <div class="p-4">
                                        <h2 class="text-lg font-bold mb-2">${show.title}</h2>
                                        <div class="flex justify-between items-center">
                                            <a href="${show.embed_url}" class="text-blue-500 hover:underline">Watch</a>
                                            <a href="${show.embed_url_tmdb}" class="text-blue-500 hover:underline">More Info</a>
                                        </div>
                                    </div>
                                </div>
                            `;
                    tvShowsContainer.insertAdjacentHTML('beforeend', card);
                });
            }
        });
    </script>
</body>

</html>