<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/output.css" rel="stylesheet">
    <title>TV Shows - Search</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
</head>

<body class="bg-black text-white">
    <header>
        <div hx-get="navbar/navbar.html" hx-trigger="load" hx-target="this"></div>
    </header>
    <div class="container mx-auto py-8">
        <h1 class="text-3xl font-bold text-red-700">Search TV Shows</h1>

        <!-- Search Form -->
        <form 
              id="cardContainer"
              hx-get="https://www.omdbapi.com/?apikey=8d5cb2e" 
              hx-trigger="submit" 
              hx-ext="client-side-templates"
              hx-swap="innerHTML" 
              mustache-template="cardTemplate"
              hx-request='{"noHeaders": true}'>
            <div class="mb-4">
                <input name="s" type="text" placeholder="Search TV Shows" class="px-4 py-2 border border-gray-300 rounded-md" required>
                <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md">Search</button>
            </div>
        </form>

        <div id="caridTemplate" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4" hx-ext="client-side-templates" mustache-template="searchTemplate">
            <!-- Results will be inserted here via htmx -->
        </div>
    </div>

    <!-- Template for displaying search results -->
    <template id="cardTemplate">
        {{#Search}}
        <div class="group relative mb-6"> <!-- Added margin-bottom here -->
            <div class="size-40 transition-all duration-700 [transform-style:preserve-3d] group-hover:[transform:rotateY(720deg)] overflow-hidden">
                <!-- Use Poster from the OMDb API response as background image -->
                <div class="absolute inset-0 bg-cover bg-center transition-all duration-1000 group-hover:blur-lg bg-image" style="background-image: url('{{Poster}}');"></div>
                <div class="absolute inset-0 flex items-center justify-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <div class="text-center">
                        <h3 class="text-lg font-bold">{{Title}}</h3>
                        <a href="https://example.com" class="text-white underline">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-white rounded-lg shadow-md overflow-hidden">
            <img src="{{Poster}}" alt="{{Title}}" class="w-full h-48 object-cover object-center">
            <div class="p-4">
                <h2 class="text-lg font-bold mb-2 text-black">{{Title}} ({{Type}})</h2>
                <p class="text-gray-500">{{Year}}</p>
                <div class="flex flex-col">
                    <a href="https://vidsrc.xyz/embed/movie/{{imdbID}}" class="text-blue-500 hover:underline" target="_blank">MOVIE</a>
                    <a href="https://vidsrc.xyz/embed/tv/{{imdbID}}" class="text-blue-500 hover:underline" target="_blank">TV</a>
                </div>
                <div class="flex justify-between items-center mt-2">
                    <a href="https://www.imdb.com/title/{{imdbID}}" class="text-blue-500 hover:underline" target="_blank">IMDb</a>
                </div>
            </div>
        </div>
        {{/Search}}
        {{^Search}}
        <p>No results found.</p>
        {{/Search}}
    </template>
    
</body>

</html>
